.gnb {
    margin: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;   
}
.gnb * {display: inline;}
.gnb>li{float:left; padding: 5px;} 

.that{margin-top: 80px;}